In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import numpy.random as nr
import math
from sklearn import preprocessing
import sklearn.model_selection as ms
from sklearn import linear_model, svm
from sklearn.neural_network import MLPClassifier
from sklearn.naive_bayes import GaussianNB, BernoulliNB
import sklearn.metrics as sklm
from dateutil.relativedelta import relativedelta

%matplotlib inline

In [7]:
ave_month = pd.read_csv('AW_AveMonthSpend.csv')
bike_buyer = pd.read_csv('AW_BikeBuyer.csv')
work_customer = pd.read_csv('AdvWorksCusts.csv')

In [9]:
work_customer['BikeBuyer'] = bike_buyer['BikeBuyer']
work_customer['AveMonthSpend'] = ave_month['AveMonthSpend']
work_customer.head().transpose()

,0,1,2,3,4
CustomerID,11000,11001,11002,11003,11004
Title,NaN,NaN,NaN,NaN,NaN
FirstName,Jon,Eugene,Ruben,Christy,Elizabeth
MiddleName,V,L,NaN,NaN,NaN
LastName,Yang,Huang,Torres,Zhu,Johnson
Suffix,NaN,NaN,NaN,NaN,NaN
AddressLine1,3761 N. 14th St,2243 W St.,5844 Linden Land,1825 Village Pl.,7553 Harness Circle
AddressLine2,NaN,NaN,NaN,NaN,NaN
City,Rockhampton,Seaford,Hobart,North Ryde,Wollongong
StateProvinceName,Queensland,Victoria,Tasmania,New South Wales,New South Wales
CountryRegionName,Australia,Australia,Australia,Australia,Australia
PostalCode,4700,3198,7001,2113,2500
PhoneNumber,1 (11) 500 555-0162,1 (11) 500 555-0110,1 (11) 500 555-0184,1 (11) 500 555-0162,1 (11) 500 555-0131
BirthDate,1966-04-08,1965-05-14,1965-08-12,1968-02-15,1968-08-08
Education,Bachelors,Bachelors,Bachelors,Bachelors,Bachelors
Occupation,Professional,Professional,Professional,Professional,Professional
Gender,M,M,M,F,F
MaritalStatus,M,S,M,S,S
HomeOwnerFlag,1,0,1,0,1
NumberCarsOwned,0,1,1,1,4
NumberChildrenAtHome,0,3,3,0,5
TotalChildren,2,3,3,0,5
YearlyIncome,137947,101141,91945,86688,92771
BikeBuyer,0,1,0,0,1
AveMonthSpend,89,117,123,50,95

In [10]:
# Df contains 115 duplicates
cont_duplicates = work_customer.shape[0]
unique_df = work_customer.CustomerID.unique().shape[0]
print("Total:", cont_duplicates,
      "Unique:", unique_df)
print(cont_duplicates-unique_df)

Total: 16519 Unique: 16404
115

In [11]:
#remove duplicate and keep the latest one
print(cont_duplicates)
work_customer.drop_duplicates(subset = 'CustomerID', keep = 'last', inplace = True)
print(work_customer.shape[0])

16519
16404

In [12]:
work_customer.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16404 entries, 0 to 16518
Data columns (total 25 columns):
CustomerID              16404 non-null int64
Title                   88 non-null object
FirstName               16404 non-null object
MiddleName              9453 non-null object
LastName                16404 non-null object
Suffix                  2 non-null object
AddressLine1            16404 non-null object
AddressLine2            273 non-null object
City                    16404 non-null object
StateProvinceName       16404 non-null object
CountryRegionName       16404 non-null object
PostalCode              16404 non-null object
PhoneNumber             16404 non-null object
BirthDate               16404 non-null object
Education               16404 non-null object
Occupation              16404 non-null object
Gender                  16404 non-null object
MaritalStatus           16404 non-null object
HomeOwnerFlag           16404 non-null int64
NumberCarsOwned         16404 non-null int64
NumberChildrenAtHome    16404 non-null int64
TotalChildren           16404 non-null int64
YearlyIncome            16404 non-null int64
BikeBuyer               16404 non-null int64
AveMonthSpend           16404 non-null int64
dtypes: int64(8), object(17)
memory usage: 3.3+ MB

In [13]:
# Calculate age of customer based on birthdate
def calculate_age(end):
    r = relativedelta(pd.to_datetime('now'), pd.to_datetime(end)) 
    return '{}'.format(r.years)


work_customer['Age'] = work_customer['BirthDate'].apply(calculate_age)

# Convert age to integer
work_customer['Age'] = work_customer['Age'].astype('int64')

In [14]:
work_customer.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16404 entries, 0 to 16518
Data columns (total 26 columns):
CustomerID              16404 non-null int64
Title                   88 non-null object
FirstName               16404 non-null object
MiddleName              9453 non-null object
LastName                16404 non-null object
Suffix                  2 non-null object
AddressLine1            16404 non-null object
AddressLine2            273 non-null object
City                    16404 non-null object
StateProvinceName       16404 non-null object
CountryRegionName       16404 non-null object
PostalCode              16404 non-null object
PhoneNumber             16404 non-null object
BirthDate               16404 non-null object
Education               16404 non-null object
Occupation              16404 non-null object
Gender                  16404 non-null object
MaritalStatus           16404 non-null object
HomeOwnerFlag           16404 non-null int64
NumberCarsOwned         16404 non-null int64
NumberChildrenAtHome    16404 non-null int64
TotalChildren           16404 non-null int64
YearlyIncome            16404 non-null int64
BikeBuyer               16404 non-null int64
AveMonthSpend           16404 non-null int64
Age                     16404 non-null int64
dtypes: int64(9), object(17)
memory usage: 3.4+ MB

In [15]:
work_customer.to_csv('work_customer.csv')

In [16]:
work_customer.head()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,BikeBuyer,AveMonthSpend,Age
0,11000,NaN,Jon,V,Yang,NaN,3761 N. 14th St,NaN,Rockhampton,Queensland,...,M,M,1,0,0,2,137947,0,89,52
1,11001,NaN,Eugene,L,Huang,NaN,2243 W St.,NaN,Seaford,Victoria,...,M,S,0,1,3,3,101141,1,117,53
2,11002,NaN,Ruben,NaN,Torres,NaN,5844 Linden Land,NaN,Hobart,Tasmania,...,M,M,1,1,3,3,91945,0,123,53
3,11003,NaN,Christy,NaN,Zhu,NaN,1825 Village Pl.,NaN,North Ryde,New South Wales,...,F,S,0,1,0,0,86688,0,50,50
4,11004,NaN,Elizabeth,NaN,Johnson,NaN,7553 Harness Circle,NaN,Wollongong,New South Wales,...,F,S,1,4,5,5,92771,1,95,50