In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import numpy.random as nr
import math
from sklearn import preprocessing
import sklearn.model_selection as ms
from sklearn import linear_model, svm
from sklearn.neural_network import MLPClassifier
from sklearn.naive_bayes import GaussianNB, BernoulliNB
import sklearn.metrics as sklm
from dateutil.relativedelta import relativedelta

%matplotlib inline

In [2]:
work_cust = pd.read_csv('work_customer.csv',index_col='CustomerID')
work_cust.drop(['Unnamed: 0','AddressLine1','FirstName','LastName','StateProvinceName',
                'PhoneNumber','BirthDate','PostalCode'], axis = 1, inplace = True)
work_cust.head().transpose()

CustomerID,11000,11001,11002,11003,11004
Title,NaN,NaN,NaN,NaN,NaN
MiddleName,V,L,NaN,NaN,NaN
Suffix,NaN,NaN,NaN,NaN,NaN
AddressLine2,NaN,NaN,NaN,NaN,NaN
City,Rockhampton,Seaford,Hobart,North Ryde,Wollongong
CountryRegionName,Australia,Australia,Australia,Australia,Australia
Education,Bachelors,Bachelors,Bachelors,Bachelors,Bachelors
Occupation,Professional,Professional,Professional,Professional,Professional
Gender,M,M,M,F,F
MaritalStatus,M,S,M,S,S
HomeOwnerFlag,1,0,1,0,1
NumberCarsOwned,0,1,1,1,4
NumberChildrenAtHome,0,3,3,0,5
TotalChildren,2,3,3,0,5
YearlyIncome,137947,101141,91945,86688,92771
BikeBuyer,0,1,0,0,1
AveMonthSpend,89,117,123,50,95
Age,52,53,53,50,50

In [3]:
# Label
labels = np.array(work_cust['AveMonthSpend'])
labels.shape

(16404,)

In [4]:
# Encode categorical data
def encode_string(cat_features):
    
    ## First encode the strings to numeric categories
    enc = preprocessing.LabelEncoder()
    enc.fit(cat_features)
    enc_cat_features = enc.transform(cat_features)
    
    ## Now, apply one hot encoding
    ohe = preprocessing.OneHotEncoder()
    encoded = ohe.fit(enc_cat_features.reshape(-1,1))
    return encoded.transform(enc_cat_features.reshape(-1,1)).toarray()

categorical_columns = ['Education','Occupation',
                       'Gender','MaritalStatus','HomeOwnerFlag']

Features = encode_string(work_cust['CountryRegionName'])

for col in categorical_columns:
    temp = encode_string(work_cust[col])
    Features = np.concatenate([Features, temp], axis = 1)
    
print(Features.shape)

(16404, 22)

In [5]:
Features = np.concatenate([Features, np.array(work_cust[['NumberCarsOwned',
                                                        'NumberChildrenAtHome',
                                                        'TotalChildren',
                                                        'YearlyIncome','Age']])], axis = 1)

print(Features.shape)

(16404, 27)

In [6]:
## Randomly sample cases to create independent training and test data
nr.seed(9988)
indx = range(Features.shape[0])
indx = ms.train_test_split(indx, test_size = 0.3)
X_train = Features[indx[0],:]
y_train = np.ravel(labels[indx[0]])
X_test = Features[indx[1],:]
y_test = np.ravel(labels[indx[1]])

In [7]:
scaler = preprocessing.StandardScaler().fit(X_train[:,23:])
X_train[:,23:] = scaler.transform(X_train[:,23:])
X_test[:,23:] = scaler.transform(X_test[:,23:])

In [8]:
lin_mod = linear_model.LinearRegression(fit_intercept = False)
lin_mod.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=False, n_jobs=1, normalize=False)

In [9]:
ads_test = pd.read_csv('AW_test.csv')
ads_test.head()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
0,18988,NaN,Courtney,A,Baker,NaN,8727 Buena Vista Ave.,NaN,Fremont,California,...,1/5/1945,Bachelors,Management,F,S,0,2,0,5,86931
1,29135,NaN,Adam,C,Allen,NaN,3491 Cook Street,NaN,Haney,British Columbia,...,10/4/1964,Bachelors,Skilled Manual,M,M,1,2,2,4,100125
2,12156,NaN,Bonnie,NaN,Raji,NaN,359 Pleasant Hill Rd,NaN,Burbank,California,...,1/12/1934,Graduate Degree,Management,F,M,1,2,0,4,103985
3,13749,NaN,Julio,C,Alonso,NaN,8945 Euclid Ave.,NaN,Burlingame,California,...,9/22/1958,Graduate Degree,Skilled Manual,M,M,1,0,0,4,127161
4,27780,NaN,Christy,A,Andersen,NaN,"42, boulevard Tremblay",NaN,Dunkerque,Nord,...,3/19/1965,High School,Manual,F,M,1,1,2,2,21876

In [10]:
# Calculate age of customer based on birthdate
def calculate_age(end):
    r = relativedelta(pd.to_datetime('now'), pd.to_datetime(end)) 
    return '{}'.format(r.years)


ads_test['Age'] = ads_test['BirthDate'].apply(calculate_age)

# Convert age to integer
ads_test['Age'] = ads_test['Age'].astype('int64')

In [12]:
ads_totest = ads_test[['CountryRegionName','Education','Occupation','Gender',
                      'MaritalStatus','HomeOwnerFlag','NumberCarsOwned',
                      'NumberChildrenAtHome','TotalChildren','YearlyIncome',
                      'Age']]

ads_totest.head().transpose()

,0,1,2,3,4
CountryRegionName,United States,Canada,United States,United States,France
Education,Bachelors,Bachelors,Graduate Degree,Graduate Degree,High School
Occupation,Management,Skilled Manual,Management,Skilled Manual,Manual
Gender,F,M,F,M,F
MaritalStatus,S,M,M,M,M
HomeOwnerFlag,0,1,1,1,1
NumberCarsOwned,2,2,2,0,1
NumberChildrenAtHome,0,2,0,0,2
TotalChildren,5,4,4,4,2
YearlyIncome,86931,100125,103985,127161,21876
Age,74,54,85,60,53

In [13]:
# Encode categorical data
def encode_string(cat_features):
    
    ## First encode the strings to numeric categories
    enc = preprocessing.LabelEncoder()
    enc.fit(cat_features)
    enc_cat_features = enc.transform(cat_features)
    
    ## Now, apply one hot encoding
    ohe = preprocessing.OneHotEncoder()
    encoded = ohe.fit(enc_cat_features.reshape(-1,1))
    return encoded.transform(enc_cat_features.reshape(-1,1)).toarray()

categorical_columns = ['Education','Occupation',
                       'Gender','MaritalStatus','HomeOwnerFlag']

Features = encode_string(ads_totest['CountryRegionName'])

for col in categorical_columns:
    temp = encode_string(ads_totest[col])
    Features = np.concatenate([Features, temp], axis = 1)
    
print(Features.shape)

(500, 22)

In [14]:
# Add numerical feature
Features = np.concatenate([Features, np.array(ads_totest[['NumberCarsOwned',
                                                        'NumberChildrenAtHome',
                                                        'TotalChildren',
                                                        'YearlyIncome','Age']])], axis = 1)

print(Features.shape)

(500, 27)

In [15]:
X_test = Features
X_test[:,23:] = scaler.transform(X_test[:,23:])

In [16]:
scores = lin_mod.predict(X_test)
print(scores)

[ 42.84375    106.94726562  49.07910156  88.77539062  60.90332031
  43.23339844  95.91796875 127.38671875 103.19238281  56.57617188
  59.53613281  51.17480469  72.73535156  47.00390625  37.99560547
  51.5390625   86.01171875  73.24023438 112.3203125   59.671875
  68.82275391  76.0859375  149.71289062  85.10351562  55.46875
  75.42724609  86.77148438 117.36181641  77.5546875   62.21191406
  69.2109375   80.79638672  39.81787109  72.02441406 106.24200439
 104.6875     149.4609375   92.6015625   59.23046875  87.265625
  46.88867188  80.78759766  82.74804688  48.79296875  58.4375
  76.28662109  61.75683594  87.24023438 116.72802734  80.70898438
  82.01367188  95.59570312  81.47021484  64.99609375  47.02636719
  76.17382812  57.81982422  75.42724609  64.68066406  70.47644043
  46.4453125   65.69921875  91.07617188  83.54980469  44.421875
  81.09375     82.46484375 133.4609375   66.52148438 106.82666016
  86.          68.72753906  93.29248047  44.75097656  65.98583984
  82.54345703 115.86816406  68.96679688  62.453125    47.83544922
  87.69921875  72.6875      48.01953125  89.76318359  86.08007812
  48.56835938  86.47070312 120.59765625  98.015625    55.16992188
  53.88867188  95.48046875  38.49462891  49.35742188  38.41552734
 139.58544922  60.74316406  50.16015625  45.69677734  53.61132812
 106.75976562  74.20556641  49.35253906 119.62304688  87.01953125
 104.55371094  32.95214844  46.98730469  47.64648438  60.99609375
  96.71484375  48.37304688  85.32421875  63.84179688  77.35400391
  85.58203125  39.22460938  41.2109375   46.12255859  88.15820312
 124.72949219  88.16699219  82.85644531  39.5625      79.14404297
  57.3046875   65.40625     91.03320312  86.79199219 124.1484375
  38.09179688  88.58007812 120.92480469  44.10839844  49.73339844
 113.3671875  151.67724609  84.3046875   85.35644531  84.5390625
  90.375       42.53417969 116.08007812  36.1875      78.6640625
  61.90917969  50.85058594  37.15625     65.38183594  65.83007812
  99.77441406  71.9296875   68.24902344  76.94726562 107.61181641
  38.21484375  77.39257812  68.05175781  81.11523438  96.22314453
  38.64160156  72.20996094  60.484375    97.05664062 108.22460938
  58.46728516  97.70068359 104.3125      92.62695312  37.86914062
  80.91210938  78.17871094  79.30175781  80.61132812  41.29101562
  32.546875   109.20166016  72.70996094  51.17773438 135.31005859
  36.20117188  39.04492188 106.86914062  74.12402344  32.22167969
  41.51367188  61.34960938  65.23144531  50.53808594  59.13745117
  80.84179688  81.58105469  76.51171875  82.7421875   90.50585938
  71.00976562  47.61132812  75.953125    51.38427734  95.08691406
  58.42822266  79.64355469  31.25195312  78.79785156 130.80664062
  82.6484375  115.97265625  98.48632812  67.33007812  72.87927246
  77.16796875  70.07617188 121.3515625   42.05957031  45.10302734
  79.76757812  44.04492188  59.21484375  80.13476562  80.52539062
  40.49609375  77.37255859 102.87597656  67.87890625  61.390625
  47.20947266  59.75830078 101.65332031  82.58007812  88.40820312
  90.62091064  51.24707031  74.10644531  67.30761719 107.39013672
  68.86474609  92.89648438  96.11328125  41.296875    72.77148438
  86.86962891  65.2432251   38.79882812  58.25390625  69.16210938
  46.96289062  78.47070312  71.33398438  80.38085938  85.75097656
 106.53125     57.640625    52.6640625   39.23535156 130.27441406
  94.49658203  50.90917969  79.65234375 123.27636719  82.18115234
  41.09667969  69.32714844  88.66064453  67.703125    83.00195312
  69.40039062  42.74414062  77.31054688 110.6171875   60.15869141
 109.79882812  41.34765625  86.66748047  65.69042969 105.36816406
  42.50195312 138.71679688  50.64550781 118.62890625  76.05566406
  90.58251953  61.37451172  73.30810547  59.578125    53.48242188
  30.83691406  75.71972656  41.73828125  44.30322266  69.20507812
  79.50585938  50.95703125  86.4609375  142.1328125   74.8125
 110.76367188 139.05810547  40.62792969  65.6015625   35.39160156
  46.1484375   56.64453125 117.74023438 102.82226562  78.29882812
  36.38867188 100.59375    144.91992188 123.97851562  77.49609375
  42.09033203 107.41992188 151.00683594  55.38476562  79.5390625
  44.13671875  37.15039062  66.16308594 142.91876221  74.76904297
  71.72363281  66.09179688  51.29199219  34.79199219 138.05126953
  58.89941406  42.38964844  82.69335938  57.56054688  46.4375
  90.42382812  83.63867188 114.99121094  55.87109375  71.29882812
 114.328125    79.09570312  38.30078125 116.203125    48.09082031
  91.31982422  74.9921875   76.03417969  77.45117188  74.28710938
  63.0859375   80.04101562  58.29296875 112.33007812  81.0546875
  72.62548828  78.37695312  44.71728516  58.89501953  51.18457031
  90.66064453  83.7578125   54.8671875   61.23535156  53.94775391
 111.50976562  68.859375    75.32177734  77.84179688  71.1875
  60.47460938  43.3203125   51.34375     44.92382812  64.66992188
 136.71240234  41.36328125  91.97265625  71.86523438  84.70898438
  45.38867188  77.08251953  43.55273438  38.45117188 140.59375
  97.4609375   82.38183594  31.75488281  86.83203125  44.89257812
  80.56542969 118.37646484  46.515625    89.05273438  81.41064453
  92.31054688  56.35302734 121.3828125   74.92089844  44.79199219
  76.55859375  82.97900391  39.54296875  64.55957031  73.97167969
  49.05566406 142.48535156 114.05224609  93.50341797  60.09960938
  87.25195312 105.43164062  45.55078125  81.23925781  47.28515625
 106.71484375  64.39257812  77.80957031  59.6015625   88.16833496
  76.05566406  84.84472656 145.15820312  99.82910156  68.50097656
  73.58007812  33.59570312  55.703125    68.11230469  54.55126953
  46.49121094  49.171875    61.14648438  61.66894531  62.34863281
  39.75817871 100.71777344  92.33105469 116.72607422 113.66540527
  79.74414062  69.67773438  74.77050781  74.84082031  91.12109375
  52.05371094 108.07226562  92.44726562 114.40722656  38.10986328
  78.78417969  46.3203125  109.5         65.08984375  44.70507812
  56.07519531 117.13867188  86.80664062  52.89648438  77.22460938
  52.5703125   81.8515625   70.77587891  49.07714844  93.22558594
  85.39453125  38.14794922 102.56378174  39.98583984 103.828125
  80.63671875  53.91796875  87.52246094  52.83203125  60.30712891
  47.7578125   89.65820312  93.9296875   47.38964844  60.3203125
  67.99707031  67.68164062 136.94433594 130.28808594 127.55761719
 130.83935547  81.50244141 111.83789062  74.74023438  72.78369141
  28.73828125 146.32421875  50.26953125  88.11083984  91.71484375
  73.390625   100.79492188 138.33740234  78.140625    57.5703125
  48.07421875  90.71972656  83.58007812  55.83398438  30.96142578]

In [17]:
result_regression = pd.DataFrame(scores, index = ads_test['CustomerID'],columns=['AveMonthSpend'])

result_regression
result_regression.to_csv('ResultRegression.csv')